@keyframes sun {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.5);
    }

    16% {
        transform: scale(1);
    }

    18% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes cloud {
    0% {
        background-image: none;

    }

    100% {
        transform: scale(1);
    }
}

@keyframes rain_1 {
    0% {
        transform: translate(20px, 70px);

    }

    100% {
        color: #00ced2;
        transform: translate(20px, 70px);
    }
}

@keyframes rain_2 {
    0% {
        transform: translate(40px, 10px)

    }

    100% {
        color: #00ced2;
        transform: translate(40px, 10px)

    }
}

@keyframes rain_3 {
    0% {
        transform: translate(60px, -50px)

    }

    100% {
        color: #00ced2;
        transform: translate(60px, -50px)


    }
}


.icon {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 80px;
}

.sun {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: yellow;
    animation-name: sun;
    animation-duration: 3s;
    transform: scale(1);
}

.cloud {
    width: 130px;
    height: 80px;
    animation-name: cloud;
    animation-duration: 5s;
    background-image: url("./Снимок.png");
    transform: scale(1);
    margin-top: 8px;
}

.rain_1 {
    font-size: 50px;
    font-weight: 900;
    animation-name: rain_1;
    animation-duration: 1s;
    animation-delay: 3s;
    color: #fff0;
    animation-fill-mode: forwards;
    transform: scale(1);
}

.rain_2 {
    animation-name: rain_2;
    animation-delay: 3.5s;
    transform: scale(1);

}

.rain_3 {
    animation-name: rain_3;
    animation-delay: 4s;
    transform: scale(1);
}